
{% load static %}
<!--  Футер -->
<footer>
    <div class="footer">
        <div id="footer_info">
            <p>
            Disign by Aireend.<br>Link - 
            <a href="https://vk.com" target="_blank">
                <img src="{% static 'mainApp/images/vk.png' %}" alt="Ссылка VK" height="20"></a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="{% static 'mainApp/images/instagram.png' %}" alt="Ссылка instagram" height="20"></a>
            </p>
        </div>
        <div id="all_rights_protections">Все права защищены.&nbsp;&copy;&nbsp;2017</div>
    </div>
</footer>