
{% load static %}
<!-- Навигация -->
<header>
    <div class="header">
    <!-- Логотип -->
        <div id="logo">
        <a href="/">
            <img src="{% static 'mainApp/images/logo.jpg' %}" alt="logo">
        </a>
    </div>
    <div id="logo_name">Clo<br>Designer</div>
    
    
    <!-- Меню -->
    <ul id="menu">
        <li class="menu_main">
            <a href="/">
                <p>Главная</p>
            </a>
        </li>
        <li class="menu_catalog">
            <a href="/catalog">
                <p>Каталог</p>
                </a>
            <!-- <ul>
                <li class="menu_catalog menu_catalog_item">
                    <a href="/catalog/jacket">
                        <p>Косуха</p>
                    </a>
                </li>
                <li class="menu_catalog menu_catalog_item">
                    <a href="/catalog/red_dress">
                        <p>Вечернее платье</p>
                        </a>
                </li>
                <li class="menu_catalog menu_catalog_item">
                    <a href="/catalog/blue_dress">
                        <p>Замшевое платье</p>
                    </a>
                </li>
            </ul> -->
        </li>
        <li class="menu_contacts">
            <a href="/contacts">
                <p>Контакты</p>
            </a>
        </li>
    </ul>
    </div>
</header>