
<!-- шаблон под - Шаблонизатор Jinja(Дзиндзя) -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Love with Aireend</title>

    <!-- Загрузка статических файлов -->
    {% load static %}    <!-- или {% load static %} -->
    <link rel="icon" type="image/png" href="{% static 'mainApp/images/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/css/style.css' %}">

    <!-- slider script -->
    <script type="text/javascript" src="{% static 'mainApp/js/slider.js' %}"></script>
</head>

<body>
    <!-- Загрузка шаблона header -->
    {% include "mainApp/includes/header.html" %}


    <!-- Обертка, чтобы основная часть
    не пересекалась с header и footer -->
    <div id="wrap">


        <!-- Блок контента -->
        {% block content %}

        {% endblock %}

    </div>

    
    <!-- Загрузка шаблона footer -->
    {% include "mainApp/includes/footer.html" %}
</body>
</html>