{% extends "lesson/wrapper.html" %}


{% block content %}

    {% for post in object_list %}

        <a href="/lesson/new/{{post.id}}">
            <h3>{{post.title}}</h3>
        </a>
        <!--           |date:"d-m-Y" - фильтр по дате
                                       и то в каком виде её выводить
                                       здесь:
                                       "день - месяц - Год"      -->
        <h5>{{post.date|date:"d-m-Y"}}</h5>

    {% endfor %}

{% endblock %}